@use "../../partials/global" as *;

.login {
  height: 1.5rem;
  width: 1.5rem;

  &:hover {
    background-color: rgb(118, 118, 190);
    cursor: pointer;
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.header {
  background-color: #0097b2;
  display: flex;
  flex-direction: column;
  &__logo {
    height: 5rem;
    width: 6rem;
    align-self: center;
  }

  &__nav {
    background-color: #0097b2;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.nav {
  font-size: 0.875rem;
  &__rooms {
  }
}
